# Análise de Dados#
## Covid-19 por munícipios.

### Trabalhando com Arrays

In [106]:
# Importando bibliotecas para visualização descritiva de dados(gráficos).
# Pandas - biblioteca utilizada para análise e manipulação de dados, permitindo 
# trabalhar de forma rápida e eficiente com arquivos do tipo csv,excel,txt,etc.
# Numpy - Permite trabalhar com vetores, arranjos e matrizes.
# Matplotlib - Bilioteca de gráficos 2D.

import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
import pandas as pd

In [13]:
df = pd.read_csv('caso.csv')
df

,date,state,city,place_type,confirmed,deaths,order_for_place,is_last,estimated_population_2019,city_ibge_code,confirmed_per_100k_inhabitants,death_rate
0,2020-08-29,AP,NaN,state,42771,659,162,True,845731.0,16.0,5057.28181,0.0154
1,2020-08-28,AP,NaN,state,42625,657,161,False,845731.0,16.0,5040.01863,0.0154
2,2020-08-27,AP,NaN,state,42285,652,160,False,845731.0,16.0,4999.81673,0.0154
3,2020-08-26,AP,NaN,state,41981,647,159,False,845731.0,16.0,4963.87149,0.0154
4,2020-08-25,AP,NaN,state,41553,642,158,False,845731.0,16.0,4913.26438,0.0155
...,...,...,...,...,...,...,...,...,...,...,...,...
598440,2020-06-23,SP,Óleo,city,1,0,5,False,2496.0,3533809.0,40.06410,0.0000
598441,2020-06-22,SP,Óleo,city,1,0,4,False,2496.0,3533809.0,40.06410,0.0000
598442,2020-06-21,SP,Óleo,city,1,0,3,False,2496.0,3533809.0,40.06410,0.0000
598443,2020-06-20,SP,Óleo,city,1,0,2,False,2496.0,3533809.0,40.06410,0.0000
598444,2020-06-19,SP,Óleo,city,1,0,1,False,2496.0,3533809.0,40.06410,0.0000

In [14]:
df.head()

,date,state,city,place_type,confirmed,deaths,order_for_place,is_last,estimated_population_2019,city_ibge_code,confirmed_per_100k_inhabitants,death_rate
0,2020-08-29,AP,NaN,state,42771,659,162,True,845731.0,16.0,5057.28181,0.0154
1,2020-08-28,AP,NaN,state,42625,657,161,False,845731.0,16.0,5040.01863,0.0154
2,2020-08-27,AP,NaN,state,42285,652,160,False,845731.0,16.0,4999.81673,0.0154
3,2020-08-26,AP,NaN,state,41981,647,159,False,845731.0,16.0,4963.87149,0.0154
4,2020-08-25,AP,NaN,state,41553,642,158,False,845731.0,16.0,4913.26438,0.0155

### Informações Gerais sobre a Base de Dados

In [15]:
df.dtypes

date                               object
state                              object
city                               object
place_type                         object
confirmed                           int64
deaths                              int64
order_for_place                     int64
is_last                              bool
estimated_population_2019         float64
city_ibge_code                    float64
confirmed_per_100k_inhabitants    float64
death_rate                        float64
dtype: object

In [64]:
tipos_de_dados = pd.DataFrame(df.dtypes, columns = ['Tipos de Dados'])

In [68]:
tipos_de_dados.columns.df = 'Variaveis'

In [69]:
tipos_de_dados

                               Tipos de Dados
date                                   object
state                                  object
city                                   object
place_type                             object
confirmed                               int64
deaths                                  int64
order_for_place                         int64
is_last                                  bool
estimated_population_2019             float64
city_ibge_code                        float64
confirmed_per_100k_inhabitants        float64
death_rate                            float64

In [70]:
df.shape

(598445, 12)

In [71]:
df.shape[0]

598445

In [72]:
df.shape[1]

12

In [73]:
print('A base de dados apresenta {} registros e {} variaveis'.format(df.shape[0], df.shape[1]))

A base de dados apresenta 598445 registros e 12 variaveis

In [87]:
import pandas as pd
data = [['SP', 'São Paulo', 'city']]

df = pd.DataFrame(data, 
        columns = {'state': 'SP', 'city': 'São Paulo', 'place_type': 'city'})
df

  state       city place_type
0    SP  São Paulo       city

In [19]:

df.describe()

,confirmed,deaths,order_for_place,estimated_population_2019,city_ibge_code,confirmed_per_100k_inhabitants,death_rate
count,598445.000000,598445.000000,598445.000000,5.958700e+05,5.958700e+05,583913.000000,598445.000000
mean,636.400648,24.228405,58.312530,1.108194e+05,3.181421e+06,577.128660,0.041450
std,8188.543290,363.500298,36.961645,1.106435e+06,1.013802e+06,910.950917,0.113566
min,0.000000,0.000000,1.000000,7.810000e+02,1.100000e+01,0.002180,0.000000
25%,5.000000,0.000000,27.000000,6.627000e+03,2.502805e+06,47.852610,0.000000
50%,27.000000,1.000000,55.000000,1.470100e+04,3.140209e+06,227.724520,0.008200
75%,133.000000,3.000000,85.000000,3.294100e+04,4.111258e+06,739.536800,0.037400
max,801422.000000,29944.000000,185.000000,4.591905e+07,5.300108e+06,16385.483680,1.000000

In [35]:
import pandas as pd
df = pd.read_csv('caso.csv')
saved_column = df.state

### Calculando a Tendência Central de uma distribuição, variáveis:
### confirmed, confirmed_per_100k_inhabitants, death_rate e deaths

In [89]:
tendencia_central = df.describe()
tendencia_central.mean()

state         0.75
city          0.75
place_type    0.75
dtype: float64

In [111]:
import matplotlib.pyplot as plt
#df = sns.load_dataset("df")
#sns.relplot(x="confirmed_per_100k_inhabitants", y="confirmed", data=df);

In [114]:
std = df.describe()
std.std()

total_bill    80.578006
tip           85.109532
size          85.396862
dtype: float64

In [126]:
matplotlib.pyplot.show()

NameError: name 'confirmed' is not defined